body {
  padding: 7%;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  width: 33.3333%;
}

.grid {
  margin-top: 45px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 5px;
}

.grid div {
  border: 1px solid #777;
}